{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-light">
    <div class="container py-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>📚 Biblioteca</h1>
        <a href="{% url 'add_libro' %}" class="btn btn-success">+ Agregar libro</a>
        </div>

        {% if libros %}
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                {% for libro in libros %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ libro.titulo }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ libro.autores }}</h6>
                            <img src="{{ libro.portada }}" class="card-img-top" alt="Portada">
                            <!-- <p class="card-text">{{ libro.descripcion|default:"Sin descripción." }}</p> -->
                        </div>
                        <div class="d-flex card-footer text-end" style="justify-content: end;">
                            <a href="{% url 'libro' libro.id %}" class="btn btn-primary btn-sm me-2">Ver más</a>
                            <form method="POST" action="{% url 'delete_libro' libro.id %}" onsubmit="return confirmarEliminacion(event)">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm" name="delete_libro" value="{{ libro.id }}">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="alert alert-info mt-4" role="alert">Todavía no guardaste ningún libro.</p>
        {% endif %}
    </div>

    <script>
        function confirmarEliminacion(event) {
            event.preventDefault();  // detener el envío del formulario

            Swal.fire({
                icon: 'warning',
                title: '¿Estás seguro de que deseas eliminar este libro?',
                text: 'Esta acción no se puede deshacer.',
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    event.target.submit();  // si el usuario confirma, enviamos el formulario
                }
            });

            return false; // evitar el envío inmediato del form
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
{% endblock %}